
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'coreblock_ChartOfAccount_list' %}">
    ChartOfAccount Listing
    </a>
</p>
    
<table class="table">
    <tr><td>code</td><td>{{ object.code }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>account_type</td><td>{{ object.account_type }}</td></tr>
    <tr><td>is_active</td><td>{{ object.is_active }}</td></tr>
    <tr><td>deleted_at</td><td>{{ object.deleted_at }}</td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}