
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'coreblock_Client_list' %}">
    Client Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="name">name: </label>
      <input class="form-control col-sm-10"
         id="name" type="text"
         name="name" value="{{ object.name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="email">email: </label>
      <input class="form-control col-sm-10"
         id="email" type="text"
         name="email" value="{{ object.email }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="identity_number">identity_number: </label>
      <input class="form-control col-sm-10"
         id="identity_number" type="text"
         name="identity_number" value="{{ object.identity_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="registration_number">registration_number: </label>
      <input class="form-control col-sm-10"
         id="registration_number" type="text"
         name="registration_number" value="{{ object.registration_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="trust_date">trust_date: </label>
      <input class="form-control col-sm-10"
         id="trust_date" type="date"
         name="trust_date" value="{{ object.trust_date }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="trust_division">trust_division: </label>
      <input class="form-control col-sm-10"
         id="trust_division" type="text"
         name="trust_division" value="{{ object.trust_division }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="is_trust">is_trust: </label>
      <input class="form-control col-sm-10"
         id="is_trust" type="checkbox"
         name="is_trust" value="{{ object.is_trust }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="marital_status">marital_status: </label>
      <input class="form-control col-sm-10"
         id="marital_status" type="text"
         name="marital_status" value="{{ object.marital_status }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="income_ytd">income_ytd: </label>
      <input class="form-control col-sm-10"
         id="income_ytd" type="text"
         name="income_ytd" value="{{ object.income_ytd }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="expense_ytd">expense_ytd: </label>
      <input class="form-control col-sm-10"
         id="expense_ytd" type="text"
         name="expense_ytd" value="{{ object.expense_ytd }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="trust_balance">trust_balance: </label>
      <input class="form-control col-sm-10"
         id="trust_balance" type="text"
         name="trust_balance" value="{{ object.trust_balance }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="vat_number">vat_number: </label>
      <input class="form-control col-sm-10"
         id="vat_number" type="text"
         name="vat_number" value="{{ object.vat_number }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="physical_address">physical_address: </label>
      <input class="form-control col-sm-10"
         id="physical_address" type="text"
         name="physical_address" value="{{ object.physical_address }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="postal_address">postal_address: </label>
      <input class="form-control col-sm-10"
         id="postal_address" type="text"
         name="postal_address" value="{{ object.postal_address }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="is_active">is_active: </label>
      <input class="form-control col-sm-10"
         id="is_active" type="checkbox"
         name="is_active" value="{{ object.is_active }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="deleted_at">deleted_at: </label>
      <input class="form-control col-sm-10"
         id="deleted_at" type="datetime-local"
         name="deleted_at" value="{{ object.deleted_at }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created_at">created_at: </label>
      <input class="form-control col-sm-10"
         id="created_at" type="datetime-local"
         name="created_at" value="{{ object.created_at }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="updated_at">updated_at: </label>
      <input class="form-control col-sm-10"
         id="updated_at" type="datetime-local"
         name="updated_at" value="{{ object.updated_at }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}