
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'coreblock_Client_list' %}">
    Client Listing
    </a>
</p>
    
<table class="table">
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>email</td><td>{{ object.email }}</td></tr>
    <tr><td>identity_number</td><td>{{ object.identity_number }}</td></tr>
    <tr><td>registration_number</td><td>{{ object.registration_number }}</td></tr>
    <tr><td>trust_date</td><td>{{ object.trust_date }}</td></tr>
    <tr><td>trust_division</td><td>{{ object.trust_division }}</td></tr>
    <tr><td>is_trust</td><td>{{ object.is_trust }}</td></tr>
    <tr><td>marital_status</td><td>{{ object.marital_status }}</td></tr>
    <tr><td>income_ytd</td><td>{{ object.income_ytd }}</td></tr>
    <tr><td>expense_ytd</td><td>{{ object.expense_ytd }}</td></tr>
    <tr><td>trust_balance</td><td>{{ object.trust_balance }}</td></tr>
    <tr><td>vat_number</td><td>{{ object.vat_number }}</td></tr>
    <tr><td>physical_address</td><td>{{ object.physical_address }}</td></tr>
    <tr><td>postal_address</td><td>{{ object.postal_address }}</td></tr>
    <tr><td>is_active</td><td>{{ object.is_active }}</td></tr>
    <tr><td>deleted_at</td><td>{{ object.deleted_at }}</td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}