
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'coreblock_Matter_list' %}">
    Matter Listing
    </a>
</p>
    
<table class="table">
    <tr><td>description</td><td>{{ object.description }}</td></tr>
    <tr><td>matter_type</td><td>{{ object.matter_type }}</td></tr>
    <tr><td>status</td><td>{{ object.status }}</td></tr>
    <tr><td>is_active</td><td>{{ object.is_active }}</td></tr>
    <tr><td>deleted_at</td><td>{{ object.deleted_at }}</td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}