
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'coreblock_VatRate_list' %}">
    VatRate Listing
    </a>
</p>
    
<table class="table">
    <tr><td>effective_from</td><td>{{ object.effective_from }}</td></tr>
    <tr><td>effective_to</td><td>{{ object.effective_to }}</td></tr>
    <tr><td>created_at</td><td>{{ object.created_at }}</td></tr>
    <tr><td>updated_at</td><td>{{ object.updated_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}